:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header header"
    "menu menu menu"
    "main main main"
    "footer footer footer";
}
